/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Estilos del contenedor del producto */
#detalles-producto {
  width: 60%;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#detalles-producto h2 {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 20px;
  color: #000000;
}

#detalles-producto img {
  display: block;
  margin: 0 auto 20px auto;
}

/* Estilo del botón */
button {
  background-color: rgb(255, 230, 0);
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
